<style>
  body {background-color: rgb(231, 231, 231)};
</style>
<div class="checkout-tag-container">
  <h3 class="text-center checkout-tag">Checkout</h3>
</div>
<div class="container">
  <div class="row">
    <form id="payment-form" action="" method="POST" ng-submit="stripeToken()" class="col s12 register z-depth-2">
      <span class="payment-errors"></span>

      <div class="row">
        <div class="col m6 s12 input-field">
          <input id="email" type="email" class="validate" ng-model="user.email" />
          <label for="email">Email</label>
        </div>

        <div class="col m6 s12 input-field">
          <input type="text" ng-model="user.searchTerm" />
          <label for="search_term">Search Term</label>
        </div>
      </div>

      <div class="row">
        <div class="col m12 input-field">
          <input type="text" size="7" data-stripe="number" class="form-control" />
          <label for="card">Card Number</label>
        </div>
        <div class="CVC col m4 input-field">
          <input type="text" size="1" data-stripe="cvc" class="form-control" />
          <label for="cvc">CVC</label>
        </div>
        <div class="date">
            <div class="col m4 input-field">
              <input type="text" name='expireMM' data-stripe="exp-month" id='expireMM' maxlength="2">
              <label for="expireMM">Month (MM)</label>
            </div>
            <div class="col m4 input-field">
              <input type="text" name='expireYY' data-stripe="exp-year" id='expireYY' maxlength="2"/>
              <label for="expireYY">Year (YY)</label>
            </div>
          </div>
        </div>

      <hr class="ng-scope">
      <div class="row">
        <div class="col m4">
          <span>Amount: $9.95</span>
        </div>
        <div class="col offset-m4 m4 right-align">
          <button type="submit" class="btn">Submit Payment</button>
        </div>
      </div>
    </form>
  </div>
</div>
