
<div class="section">
  <div class="slide slide-one">
    <div class="btn-row">
      <a ui-sref="buy" class="waves-effect waves-light btn">Buy Now</a>
    </div>
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col s12 offset-m1 m3">
          <img src="img/logo.png" class="img-responsive center-block">
        </div>
        <div class="col s12 m8">
          <h1 class="center-align">hashtrack</h1>
            <div class="slogan slogan-one">Easily keep track of your brand.</div>
            <div class="slogan slogan-two">Twitter analytics for business.</div>
          </p>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>

<hr>


<div class="featurette" id="sec2">
  <div class="container">
    <div class="row">
      <div class="col m12 center-align">
        <h1>Features</h1>
      </div>
    </div>
    <div class="row">
      <div class="col m5 offset-m1 center-align">
        <div class="featurette-item">
          <i class="fa fa-twitter"></i>
          <h2>Tweet Watch</h2>
          <p>Keep up to date with tweets about your brand</p>
        </div>
      </div>
      <div class="col m5 center-align">
        <div class="featurette-item">
          <i class="fa fa-heart"></i>
          <h2>Sentiment Analysis</h2>
          <p>Understand what your customers are saying so you can meet their needs</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col m6 offset-m3 center-align">
        <p>Built with <i class="fa fa-code"></i> power.<br>Hashtrax ©2015</p>
      </div>
    </div>
  </div>
</footer>

<ul class="nav pull-right scroll-down">
  <li><a href="#" title="Scroll down"><i class="icon-chevron-down icon-3x"></i></a></li>
</ul>
<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
</ul>
